<h1 class="text-success">Angular Diretivas</h1>

<div 
[ngStyle]="{background: count <5 ? 'red': 'green' }"
[ngClass]="{custom: count >5}"
>

  <h2 class=" text-center">Contador: {{count}}</h2>
</div>

<!-- Diretivas Estruturais-->
<h2 *ngIf="count >7; else menor"> O contador passou de 7!</h2>

<ng-template #menor> 
  <h2 > O contador é menor que 7!</h2> 
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li 
  class="list-group-item"
  *ngSwitchCase="1">
  É IGUAL A 1  
</li>
<li 
class="list-group-item"
*ngSwitchCase="3">
É IGUAL A 3 
</li>
<li 
class="list-group-item"
*ngSwitchCase="5">
É IGUAL A 5 
</li>
<li 
class="list-group-item"
*ngSwitchCase="8">
É IGUAL A 8  
</li>

<li 
class="list-group-item"
*ngSwitchDefault> 
ESSE É O DEFAULT
</li>
 
</ul>


<ul [ngSwitch]="count" class="list-group my-3 mx-auto col-3">
  <li 
  class="list-group-item"
  *ngFor="let pessoa of pessoas"
  >
    O nome da pessoa é {{pessoa.nome}} {{ pessoa.sobrenome}}
  </li>
</ul>

<h3 >{{nome}}</h3>

<button class="btn btn-success" (click)="clicou('Augusto')">Clique</button>